.Block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  cursor: pointer;
  color: #333;
  background: #333;
  transition: all 180ms linear;

  &.show {
    background: #fff;
  }

  &:hover:not(.show) {
    background: #444;
  }
}
